
@using DLTD.GestionPm.Dto.Response.Tecnico


@attribute [Route(Routes.Tecnicos)]
@layout MainLayout
@attribute [Authorize(Roles = CatalogRoles.Administrador)]

@inject ITecnicoProxy tecnicoProxy;
@inject IToastService toastService;
@inject SweetAlertService swal;
@inject NavigationManager Navegador;

<h3 class="uk-text-bold uk-margin-small-bottom">Listado de Tecnicos</h3>

<GroupBox Titulo="Buscar Tecnicos">
    <Contenido>
        <div class="uk-grid-small" uk-grid>
            <!-- Input + botones -->
            <div class="uk-width-2-3@s">
                <div class="uk-grid-small uk-flex-middle" uk-grid>                    
                    <div class="uk-width-expand">
                        <input class="uk-input uk-form-small" placeholder="Buscar por descripción..." @bind="Request.Filter" />
                    </div>                    
                    <div>
                        <button class="uk-button uk-button-default uk-button-small" @onclick="Listar">
                            <i class="icon-feather-search"></i>
                        </button>
                    </div>                    
                    <div>
                        <button class="uk-button uk-button-default uk-button-small" @onclick="OnRefrescar">
                            <i class="icon-feather-rotate-ccw"></i>
                        </button>
                    </div>
                </div>
            </div>            
            
            <div class="uk-width-1-3@s uk-flex uk-flex-right">
                <button class="uk-button btn-corporativo uk-button-small" style="padding: 6px 18px;" @onclick="Nuevo">
                    <i class="icon-feather-plus uk-margin-small-right"></i>
                    Nuevo
                </button>
            </div>
        </div>
    </Contenido>

</GroupBox>

<!-- Tabla -->
<div class="uk-overflow-auto tabla-container">    
    <table class="uk-table uk-table-striped uk-table-hover uk-table-small uk-table-middle tabla-compacta">

        <thead class="table-header">
            <tr>
                <th>Id</th>
                <th>Identificacion</th>
                <th>Codigo</th>
                <th>Nombres Completos</th>
                <th>Turno Actual</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Listado)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.NoIdentificacion</td>
                    <td>@item.Codigo</td>
                    <td>@item.NombresCompletos</td>
                    <td>@item.TurnoActual</td>                    
                    <td>@item.Status</td>
                    <td class="uk-text-center">

                        <button class="uk-icon-button uk-margin-small-right" uk-tooltip="Editar" @onclick="() => Editar(item.Id)" >
                            <i class="icon-feather-edit"></i>
                        </button>

                        <button class="uk-icon-button uk-button-danger" uk-tooltip="Eliminar"  @onclick="() => OnEliminar(item)">
                            <i class="icon-feather-trash-2"></i>
                        </button>

                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

<PagedList Titem="ListaTecnicoResponse" Request="Request" Response="Paginacion" OnChange="Listar" />        
<Loading Isloading="isLoading" />

@code {
    public List<ListaTecnicoResponse> Listado { get; set; } = new();
    public PaginationRequest Request { get; set; } = new();    
    public PaginationResponse<ListaTecnicoResponse> Paginacion { get; set; } = new();
    public bool isLoading { get; set; }

    public TecnicoRequest RequestTecnico { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await Listar();
    }

    public async Task Listar()
    {
        isLoading = true;
        try
        {
            var respuesta = await tecnicoProxy.Listar(Request);
            if(respuesta?.Result != null)
            {
                Paginacion = respuesta;
                Listado = respuesta.Result.ToList();
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);            
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    public async Task OnRefrescar()
    {
        Request = new();
        await Listar();
    }
   
    
    public async Task OnEliminar(ListaTecnicoResponse item)
    {
        var respuesta = await swal.FireAsync(new SweetAlertOptions
        {
            Title = "Estas seguro en eliminar este registro?",
            Text = $"Eliminar {item.NombresCompletos}.",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true,
            ConfirmButtonText = "Si",
            CancelButtonText = "No"
        });

        if (respuesta.IsConfirmed)
        {
            await Eliminar(item.Id);
        }
    }

    public async Task Eliminar(int id)
    {
        isLoading = true;
        try
        {
            var response = await tecnicoProxy.Eliminar(id);
            if(response != null)
            {
                await Listar();
                toastService.ShowSuccess("Registro eliminado correctamente");
            }

        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    void Nuevo()
    {
        Navegador.NavigateTo(Routes.TecnicoNuevo);
    }
    void Editar(int id)
    {
        Navegador.NavigateTo($"{Routes.TecnicoEditar}/{id}");
    }
    
}
