
@using DLTD.GestionPm.Dto.Response.Tecnico

@inject ITecnicoProxy tecnicoProxy;
@inject IToastService toastService;
@inject SweetAlertService swal;
@inject NavigationManager Navegador;

<h3 class="uk-text-bold uk-margin-small-bottom">Listado de Tecnicos</h3>

<GroupBox Titulo="Buscar Tecnicos">
    <Contenido>
        <div class="uk-grid-small" uk-grid>
            <!-- Input + botones -->
            <div class="uk-width-2-3@s">
                <div class="uk-grid-small uk-flex-middle" uk-grid>                    
                    <div class="uk-width-expand">
                        <input class="uk-input uk-form-small uk-input-borde-fijo" placeholder="Buscar por descripción..." @bind="Request.Filter" />
                    </div>                    
                    <div>
                        <button class="uk-button uk-button-default uk-button-small" @onclick="Listar">
                            <i class="icon-feather-search"></i>
                        </button>
                    </div>                    
                    <div>
                        <button class="uk-button uk-button-default uk-button-small" @onclick="OnRefrescar">
                            <i class="icon-feather-rotate-ccw"></i>
                        </button>
                    </div>
                </div>
            </div>          
        </div>
    </Contenido>

</GroupBox>

<!-- Tabla -->
<div class="uk-overflow-auto tabla-container">    
    <table class="uk-table uk-table-striped uk-table-hover uk-table-small uk-table-middle tabla-compacta">

        <thead class="table-header">
            <tr>
                <th>Id</th>
                <th>Identificacion</th>
                <th>Codigo</th>
                <th>Nombres Completos</th>
                <th>Turno Actual</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Listado)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.NoIdentificacion</td>
                    <td>@item.Codigo</td>
                    <td>@item.NombresCompletos</td>
                    <td>@item.TurnoActual</td>                    
                    <td>@item.Status</td>
                    <td class="uk-text-center">
                        <button class="uk-icon-button uk-margin-small-right" @onclick="() => Seleccionar(item)"><i class="icon-feather-check"></i></button>                     
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

     
<Loading Isloading="isLoading" />

@code {
    public List<ListaTecnicoResponse> Listado { get; set; } = new();
    public PaginationRequest Request { get; set; } = new();    
    public PaginationResponse<ListaTecnicoResponse> Paginacion { get; set; } = new();
    public bool isLoading { get; set; }

    [Parameter] public EventCallback<ListaTecnicoResponse> OnSeleccionado { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Listar();
    }

    public async Task Listar()
    {
        isLoading = true;
        try
        {
            var respuesta = await tecnicoProxy.Listar(Request);
            if(respuesta?.Result != null)
            {
                Paginacion = respuesta;
                Listado = respuesta.Result.ToList();
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);            
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    public async Task OnRefrescar()
    {
        Request = new();
        await Listar();
    }

    private async Task Seleccionar(ListaTecnicoResponse tecnico)
    {
        await OnSeleccionado.InvokeAsync(tecnico);
    }

}
