@using DLTD.GestionPm.UI.Services
@inject AuthenticationStateProvider auth;
@inject NavigationManager Navegador;
@inject SweetAlertService Swal;
@inject IToastService ToastService;

<!-- side nav-->
<div class="side-nav uk-animation-slide-left-medium">

    <div class="side-nav-bg"></div>

    <!-- logo -->
    <div class="logo uk-visible@s">
        <a href="Home">
            <img src="/assets/icons/DltdRojo.png" alt="Dltd" width="5" height="5">
        </a>
    </div>

    <ul>
        @* <AuthorizeView>
            <NotAuthorized>

            </NotAuthorized>
        </AuthorizeView> *@

        <li>            
            <a href="@Routes.ListaPm"> <i class="uil-list-ui-alt"></i> <span class="tooltips">Lista de PM</span></a>
        </li>
        <li>
            @* <a href="Tecnicos"> <img src="/assets/icons/Tecnicos.png" alt="Dltd" width="52" height="52"> <span class="tooltips"> Tecnicos</span></a> *@
            <a href="@Routes.Tecnicos"> <i class="uil-constructor"></i> <span class="tooltips">Tecnicos</span></a>
        </li>

        <li>
            <a><i class="uil-truck"></i> <span class="tooltips">Equipos</span></a>
            <div class="side-menu-slide">
                <div class="side-menu-slide-content">
                    <ul data-simplebar="">
                        <li>
                            <a href="@Routes.ListaEquipos"><i class="uil-file-edit-alt"></i>Equipos</a>
                            <a href="@Routes.ListaMarcas"><i class="uil-file-edit-alt"></i>Marcas</a>
                            <a href="@Routes.ListaModelos"><i class="uil-file-edit-alt"></i>Modelos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <a><i class="uil-arrow-circle-right"></i> <span class="tooltips">Rutas</span></a>
            <div class="side-menu-slide">
                <div class="side-menu-slide-content">
                    <ul data-simplebar="">
                        <li>
                            <a href="@Routes.ListaRutas"><i class="uil-file-edit-alt"></i>Rutas</a>
                            <a href="@Routes.ListaTareas"><i class="uil-file-edit-alt"></i>Tareas</a>
                            <a href="@Routes.ListaCheckList"><i class="uil-file-edit-alt"></i>CheckList</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <a><i class="uil-abacus"></i> <span class="tooltips">Tipologias</span></a>
            <div class="side-menu-slide">
                <div class="side-menu-slide-content">
                    <ul data-simplebar="">
                        <li>
                            <a href="@Routes.ListaTipoPM"><i class="uil-file-edit-alt"></i>Tipo PM</a>
                            <a href="@Routes.ListaActividades"><i class="uil-file-edit-alt"></i>Tipo Actividad</a>
                            <a href="@Routes.ListaDemoras"><i class="uil-file-edit-alt"></i>Tipo Demoras</a>
                            <a href="@Routes.ListaHallazgos"><i class="uil-file-edit-alt"></i>Tipo Hallazgos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <a href="Reportes"> <i class="uil-file-download-alt"></i> <span class="tooltips">Reportes</span></a>
        </li>         
       
            
        <li>
            <a @onclick="Logout"> <i class="uil-exit"></i> <span class="tooltips"> Cerrar Sesión</span></a>
        </li>

    </ul>
</div>

@code {

    public async Task Logout()
    {
        try
        {
            var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title ="Estas seguro en salir del sistema?",
                Text ="Se cerrara tu sesion actual",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                ConfirmButtonText = "Si",
                CancelButtonText = "No"
            });

            if (result.IsConfirmed)
            {
                var authService = (AuthService)auth;
                await authService.Logout();
                Navegador.NavigateTo("/");
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
            throw;
        }
    }   

}