@using DLTD.GestionPm.Dto.Response.CheckList
@using DLTD.GestionPm.Dto.Response.Modelo
@using DLTD.GestionPm.Dto.Response.Ruta
@using DLTD.GestionPm.Dto.Response.TipoPm

@attribute [Route(Routes.CheckListNuevo)]
@attribute [Route(Routes.CheckListEditar + "/{id:int}")]

@layout MainLayout
@attribute [Authorize(Roles = CatalogRoles.Administrador)]

@inject ICheckListProxy checkListProxy;
@inject ITipoPmProxy tipopmProxy;
@inject IModeloProxy modeloProxy;
@inject IRutaProxy rutaProxy;
@inject IToastService toastService;
@inject NavigationManager Navegador;

<h3 class="uk-text-bold uk-margin-small-bottom">@(Request.Id == 0 ? "Nuevo" : "Editar") Checklist PM</h3>

<EditForm Model="Request" OnValidSubmit="OnGuardar">
    <DataAnnotationsValidator />

    <div uk-grid>
        <div class="uk-width-1-1">
            <GroupBox Titulo="Parametros Principales">
                <Contenido>

                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-3@s">
                            <div class="uk-margin-remove-bottom">
                                <label class="uk-form-label">Tipo PM</label>
                                <select class="uk-select uk-form-small" @bind="Request.IdTipoPm" @bind:after="OnChecklistExistente" disabled="@(Id != 0)">
                                    <option value="0">Seleccione un Tipo de PM...</option>
                                    @foreach (var item in ListadoTipoPms)
                                    {
                                        <option value="@item.Id">@item.Nombre</option>
                                    }
                                </select>
                                <ValidationMessage For="@(() => Request.IdTipoPm)" />
                            </div>
                        </div>

                        <div class="uk-width-1-3@s">
                            <div class="uk-margin-remove-bottom">
                                <label class="uk-form-label">Modelo</label>
                                <select class="uk-select uk-form-small" @bind="Request.IdModelo" @bind:after="OnChecklistExistente" disabled="@(Id != 0)">
                                    <option value="0">Seleccione Modelo...</option>
                                    @foreach (var item in ListadoModelos)
                                    {
                                        <option value="@item.Id">@item.Referencia</option>
                                    }
                                </select>
                                <ValidationMessage For="@(() => Request.IdModelo)" />
                            </div>
                        </div>

                        <div class="uk-width-1-3@s">
                            <div class="uk-margin-remove-bottom">
                                <label class="uk-form-label">Status</label>
                                <select class="uk-select uk-form-small" @bind="Request.Status">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                                <ValidationMessage For="@(() => Request.Status)" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="uk-margin">
                        <label class="uk-form-label">Descripción</label>
                        <textarea class="uk-textarea textarea-minima" @bind="Request.Descripcion" placeholder="Descripción del Checklist"></textarea>
                        <ValidationMessage For="@(() => Request.Descripcion)" />
                    </div>
                    
                </Contenido>
            </GroupBox>
        </div>        
    </div>

    <div class="uk-margin">
        <GroupBox Titulo="Detalles del Checklist (Rutas)">
            <Contenido>                
                <div class="uk-grid-small uk-child-width-1-2@s uk-flex-top uk-margin-small-bottom" uk-grid>

                    <div>
                        <label class="uk-form-label uk-padding-remove-vertical">Ruta a Adicionar</label>

                        <div class="uk-grid-collapse uk-flex-middle" uk-grid>

                            <div class="uk-width-expand">
                                <select class="uk-select uk-form-small" @bind="DetalleAuxiliar.IdRuta">
                                    <option value="0">Seleccione una Ruta...</option>
                                    @foreach (var item in ListadoRutas)
                                    {
                                        <option value="@item.Id">@item.Descripcion</option>
                                    }
                                </select>
                            </div>
                            <div class="uk-width-auto">
                                <button type="button" class="uk-button btn-corporativo" @onclick="OnAdicionarDetalle" disabled="@(Id == 0 && EsCheckListExistente)" style="height: 38px;">
                                    <i class="icon-feather-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label class="uk-form-label uk-padding-remove-vertical">Buscar Ruta</label>

                        <div class="uk-grid-collapse uk-flex-middle" uk-grid>

                            <div class="uk-width-expand">
                                <input class="uk-input uk-form-small uk-input-borde-fijo" placeholder="Buscar por Descripción..." @bind="FiltroBusqueda">
                            </div>
                            <div class="uk-width-auto">
                                <button type="button" class="uk-button btn-corporativo" @onclick="OnBuscar" style="height: 38px;">
                                    <i class="icon-feather-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="uk-overflow-auto tabla-container uk-margin-top">
                    <table class="uk-table uk-table-striped uk-table-hover uk-table-small uk-table-middle tabla-compacta">
                        <thead class="table-header">
                            <tr>
                                <th>Id</th>
                                <th>Descripción</th>
                                <th>Status</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (DetalleVisibles != null && DetalleVisibles.Any())
                            {
                                @foreach (var detalle in DetalleVisibles)
                                {
                                    <tr>
                                        <td>@detalle.IdRuta</td>
                                        <td>@detalle.Nombre</td>
                                        <td>@detalle.Status</td>
                                        <td>
                                            @if (detalle.Id == 0)
                                            {
                                                <button @onclick="(() => OnQuitarDetalle(detalle))" class="uk-button uk-button-danger uk-button-small" uk-tooltip="Quitar Detalle">
                                                    <i class="icon-feather-x-circle"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                @if (detalle.Status == "Activo")
                                                {
                                                    <button @onclick="(() => OnChangeDetailStatus(detalle))" class="uk-button uk-button-danger uk-button-small" uk-tooltip="Inactivar Detalle">
                                                        <i class="icon-feather-lock"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button @onclick="(() => OnChangeDetailStatus(detalle))" class="uk-button uk-button-success uk-button-small" uk-tooltip="Activar Detalle">
                                                        <i class="icon-feather-unlock"></i>
                                                    </button>
                                                }
                                            }
                                            
                                        </td>
                                    </tr>
                                }
                            }                            
                            else
                            {
                                <tr><td colspan="4" class="uk-text-center">No hay detalles agregados.</td></tr>
                            }
                        </tbody>
                        
                    </table>
                    
                </div>
                
                <PaginacionLocal PaginaActual="PaginaActual" TotalPaginas="TotalPaginas" TotalElementos="TotalElementos" ElementosPorPagina="ElementosPorPagina" OnPageChange="HandlePageChange" />
                                 
            </Contenido>
        </GroupBox>
    </div>

    <div class="uk-width-1-1 uk-flex uk-flex-right uk-margin-small-top">
        <button type="button" class="uk-button btn-secundario uk-margin-small-right" @onclick="OnCancelar">             
            <i class="icon-feather-x-circle uk-margin-small-right"></i> Cancelar
        </button>
        <button type="submit" class="uk-button btn-corporativo" disabled="@(Id == 0 && EsCheckListExistente)">
            <i class="icon-feather-save uk-margin-small-right"></i> Guardar
        </button>        
    </div>

</EditForm>

<Loading Isloading="isLoading" />

@code {
    [Parameter]
    public int Id { get; set; } // Se usa para editar

    public CheckListRequest Request { get; set; } = new();
    public CheckListDetallesRequest DetalleAuxiliar { get; set; } = new();
    public List<CheckListDetallesRequest> DetalleVisibles { get; set; } = new();

    public List<ListaRutaResponse> ListadoRutas { get; set; } = new();
    public List<ListaModeloResponse> ListadoModelos { get; set; } = new();
    public List<ListaTipoPmResponse> ListadoTipoPms { get; set; } = new();

    public bool EsCheckListExistente { get; set; } = false;
    public string FiltroBusqueda { get; set; } = string.Empty;
    public bool isLoading { get; set; }
    public int PaginaActual { get; set; } = 1;
    public int ElementosPorPagina { get; set; } = 7; // Valor razonable para una tabla detallada
    public int TotalPaginas { get; set; } = 1;
    public int TotalElementos { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await CargarCombos();
        if(Id != 0)
        {
            await CargarCheckList(Id); //editamos
        }
        else
        {
            Request = new() { Detalles = new List<CheckListDetallesRequest>() }; // Inicializar detalles            
        }        
        // Llamada inicial para mostrar la tabla completa (sin filtro)
        AplicarFiltro();
    }  

    public async Task CargarCombos()
    {
        isLoading = true;
        try
        {
            var tiposPm = await tipopmProxy.Listarcombo();
            if (tiposPm?.Result != null)
            {
                ListadoTipoPms = tiposPm.Result.ToList();
            }

            var tiposModelos = await modeloProxy.ListarCombo();
            if (tiposModelos?.Result != null)
            {
                ListadoModelos = tiposModelos.Result.ToList();
            }

            var tiposRutas = await rutaProxy.Listarcombo();
            if (tiposRutas?.Result != null)
            {
                ListadoRutas = tiposRutas.Result.ToList();
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task CargarCheckList(int id)
    {
        isLoading = true;
        try
        {
            var response = await checkListProxy.ObtenerPorId(id);
            if(response.IsSuccess && response.Result != null)
            {
                // Mapeamos el Response (Cabecera + Detalles) al Request para edición
                Request.Id = response.Result.Id;
                Request.Descripcion = response.Result.Descripcion;
                Request.IdModelo = response.Result.IdModelo;
                Request.IdTipoPm = response.Result.IdTipoPm;
                Request.Status = response.Result.Status;

                // Mapeamos la colección de Detalles (Response Detalle -> Request Detalle)
                Request.Detalles = response.Result.Detalles
                                        .Select(d => new CheckListDetallesRequest
                                            {
                                                Id = d.Id,
                                                IdRuta = d.IdRuta,
                                                Nombre = d.Nombre,
                                                Status = d.Status
                                            })                                        
                                        .ToList();
            }
            else
            {
                toastService.ShowError(response.Message!);
                Navegador.NavigateTo(Routes.ListaCheckList);
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError($"Error al cargar Checklist: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }        

    public async Task OnGuardar()
    {
        if (!Request.Detalles.Any())
        {
            toastService.ShowError("Debe agregar al menos una Ruta al Checklist.");
            return;
        }

        isLoading = true;
        try
        {
            BaseResponse response;
            if (Request.Id == 0)
            {
                response = await checkListProxy.Registrar(Request);
            }
            else
            {
                response = await checkListProxy.Actualizar(Request.Id, Request);
            }

            if (response.IsSuccess)
            {
                toastService.ShowSuccess(response.Message!);
                Navegador.NavigateTo(Routes.ListaCheckList);
            }
            else
            {
                toastService.ShowError(response.Message!);
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError($"Error de comunicación: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }

    public async Task OnChecklistExistente()
    {
        if (Id != 0) return;
        if(Request.IdTipoPm == 0 || Request.IdModelo == 0)
        {
            EsCheckListExistente = false;
            StateHasChanged();
            return;
        }

        isLoading = true;
        try
        {
            var response = await checkListProxy.ExisteCheckListAsync(Request.IdTipoPm, Request.IdModelo);
            if(response.IsSuccess && response.Result == true)
            {
                EsCheckListExistente = true;
                toastService.ShowWarning("!Alerta¡ Ya existe un Checklist activo para la combinación seleccionada. No puede crear otro.");
            }
            else if (response.IsSuccess && response.Result == false)
            {
                EsCheckListExistente = false;
            }
            else
            {
                toastService.ShowError(response.Message ?? "Error al verificar existencia del Checklist.");
                EsCheckListExistente = true;
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError($"Error de comunicación al verificar existencia: {ex.Message}");
            EsCheckListExistente = true;
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    public void OnCancelar()
    {
        Navegador.NavigateTo(Routes.ListaCheckList);
    }

    public void AplicarFiltro(int paginaSolicitada = -1)
    {
        // Si la llamada viene del paginador (y es válida), la usamos.
        if (paginaSolicitada > 0)
        {
            PaginaActual = paginaSolicitada;
        }
        // Si viene de OnBuscar o OnAdicionar, se mantiene PaginaActual, que se reajusta abajo.

        IEnumerable<CheckListDetallesRequest> resultados = Request.Detalles;
        if (!string.IsNullOrWhiteSpace(FiltroBusqueda))
        {
            resultados = resultados.Where(d => d.Nombre.Contains(FiltroBusqueda, StringComparison.OrdinalIgnoreCase)).ToList();            
        }        

        TotalElementos = resultados.Count();
        TotalPaginas = (int)Math.Ceiling((double)TotalElementos / ElementosPorPagina);

        // Aseguramos que la página actual sea válida
        PaginaActual = Math.Max(1, Math.Min(paginaSolicitada, TotalPaginas));
        if (TotalElementos == 0) PaginaActual = 1;

        // 3. PAGINACIÓN LOCAL (Skip y Take)
        DetalleVisibles = resultados
            .Skip((PaginaActual - 1) * ElementosPorPagina)
            .Take(ElementosPorPagina)
            .ToList();

        StateHasChanged();
    }

    public void OnAdicionarDetalle()
    {
        if(DetalleAuxiliar.IdRuta == 0)
        {
            toastService.ShowWarning("Debe seleccionar una Ruta.");
            return;
        }
        if(Request.Detalles.Any(d => d.IdRuta == DetalleAuxiliar.IdRuta))
        {
            toastService.ShowWarning("Esta Ruta ya fue agregada.");
            return;
        }

        var rutaSeleccionada = ListadoRutas.FirstOrDefault(r => r.Id == DetalleAuxiliar.IdRuta);
        //Creamos el registro u objeto en el detalle
        var nuevoDetalle = new CheckListDetallesRequest
            {
                Id = 0,
                IdRuta = DetalleAuxiliar.IdRuta,                
                Nombre = rutaSeleccionada?.Nombre ?? "Sin Nombre",
                Status = "Activo"
            };
        Request.Detalles.Add(nuevoDetalle);
        DetalleAuxiliar = new();
        AplicarFiltro(); //Invoco al metodo para refrescar la tabla
    }

    public void OnQuitarDetalle(CheckListDetallesRequest detalle)
    {
        var detalleAGuardar = Request.Detalles.FirstOrDefault(d => d.IdRuta == detalle.IdRuta);
        if (detalleAGuardar != null)
        {
            if(detalleAGuardar.Id == 0)
            {
                Request.Detalles.Remove(detalleAGuardar);
                //toastService.ShowInfo($"Ruta {detalleAGuardar.IdRuta} removida temporalmente.");
            }
            else
            {
                toastService.ShowWarning("No puede quitar un detalle ya guardado. Use la acción Activar/Inactivar.");
            }            
        }
        AplicarFiltro();  //Invoco al metodo para refrescar la tabla
    } 

    public void OnChangeDetailStatus(CheckListDetallesRequest detalle)
    {        
        var detalleACambiar = Request.Detalles.FirstOrDefault(d => d.IdRuta == detalle.IdRuta);       
        if (detalleACambiar != null)
        {
            detalleACambiar.Status = detalle.Status == "Activo" ? "Inactivo" : "Activo";
            detalle.Status = detalleACambiar.Status;
        }
        AplicarFiltro();  //Invoco al metodo para refrescar la tabla
    }

    public void OnBuscar()
    {
        AplicarFiltro();  //Invoco al metodo para refrescar la tabla
    }    

    public void HandlePageChange(int nuevaPagina)
    {
        // Llama al método de filtrado/paginación con la nueva página solicitada
        AplicarFiltro(nuevaPagina);
    }
}
